<h1>Log In Here</h1>

<form method="POST" action="/auth/login"> 
              
    <input id="email" type="email" class="validate" name="email">
    <label for="email">Email</label>

    <input id="password" type="password" class="validate" name="password">
    <label for="password">Password</label>
  
    <button type="submit" name="action">Log In</button>
</form>


<hr>

<h2>Or...</h2>

<a href="/auth/facebook" >Facebook Login </a>