<div class="d-flex flex-column-reverse justify-content-around align-items-center">
  <div class="card bg-light col-7 border-light m-2 p-3">
    <h1>Sign Up with Email</h1>
        
    <form method="POST" action="/auth/signup" > 
      
      <div class="row">
      <div class="form-group  col-6">
        <input id="firstname" type="text" class="form-control validate" name="firstname" value="<%=data.firstname%>" required>
        <label for="firstname">First Name</label>
      </div>
      
      <div class="form-group col-6">
        <input id="lastname" type="text" class="form-control validate" name="lastname" value="<%=data.lastname%>">
        <label for="lastname">Last Name</label>
      </div>
    </div>

      <div class="form-group">
        <input id="email" type="email" class="form-control validate" name="email" value="<%=data.email%>" required>
        <label for="email">Email</label>
      </div>
   

      <div class="form-group">
        <input id="password" type="password" class="form-control validate" name="password" required>
        <label for="password">Password</label>
      </div>

      <div class="form-group">
        <input id="ver_password" type="password" class="form-control validate" name="ver_password" required>
        <label for="ver_password">Verify Password</label>
      </div>

      <button type="submit" class="btn btn-dark">Sign Up</button>

    </form>
  </div>

  <div class="text-center d-flex flex-column align-items-center card bg-light col-7 border-light m-2 p-3">
    <h1>Login with Facebook</h1>
      <a href="/auth/facebook" class="btn btn-primary" >Facebook Login <i class="fab fa-facebook-f" aria-hidden="true"></i></a>

  </div>

</div>