<h1>Sign Up Here</h1>
    
<form method="POST" action="/auth/signup" > 

  <input id="firstname" type="text" class="validate" name="firstname" value="<%=data.firstname%>">
  <label for="firstname">First Name</label>


  <input id="lastname" type="text" class="validate" name="lastname" value="<%=data.lastname%>">
  <label for="lastname">Last Name</label>


  <input id="email" type="email" class="validate" name="email" value="<%=data.email%>">
  <label for="email">Email</label>
  
  <input id="password" type="password" class="validate" name="password">
  <label for="password">Password</label>

  <input id="ver_password" type="password" class="validate" name="ver_password">
  <label for="ver_password">Verify Password</label>

  <button type="submit">Sign Up</button>
</form>

  