<nav>
  
  <% if(!user) { %>
    <li><a href="/">Home</a></li>
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/login">Login</a></li>
  <% } else {%>
    <li>Hi <%= user.firstname %></li>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
  <%}%>

  </nav>