<div class="d-flex flex-column justify-content-center align-items-center" id="home-page">
  
    <h1>Node Chef</h1>
    <div>
        <a class="btn btn-dark" href="/auth/login">Login</a>
        <a class="btn btn-dark" href="/auth/signup">Sign Up</a>
    </div>

</div>