.bg-img-home {
    height: 100vh;
    background: repeat center/100% url(https://res.cloudinary.com/ksalisbury/image/upload/v1578538654/lukas-blazek-f-TWhXOrLiU-unsplash_wqqym5.jpg);

}

.bg-img-plain {
    height:100vh;
    background: repeat center/100% url(../img/bg-solid.png);
}

/* .bgimage-home {
    height: 100vh;
    width: 100vw;
    background: repeat center/300% url(https://res.cloudinary.com/ksalisbury/image/upload/v1578538654/lukas-blazek-f-TWhXOrLiU-unsplash_wqqym5.jpg);

} */

.recipe-background {
    border-radius: 1%;
    padding: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.source {
    font-size: 20px;
}

.ingredients {
    font-size: 12px;
}

footer {
    font-size: 10px;
}