<h1>Add your own recipe</h1>
<p>Paste any recipe URL below.</p>
<form method="GET" action="/recipes/add/result">

    <div class="input-group mb-3 col-6">
        
        <input id="urlSearch" class="form-control" type="search" placeholder="http://..." name="url" value="">

    <div class="input-group-append">
        <button type="submit" class="btn btn-dark">Find Recipe</button>
    </div>

</div>

</form>