<h1 class="text-secondary">recipes by category </h1>

<% if(!categories.length) {%>
    <p>No categories created yet.</p>
    <a href="/recipes/search" class="btn btn-info">Search for Recipes</a>
<%} else {%>
    <div class="row">
        
    <%categories.forEach(category => { %>
        <%let randomRecipe = Math.floor(Math.random() * category.recipes.length)%>

            
      
        <a href="/categories/<%=category.id%>">
            <div class="card bg-light text-white col-3 border-light m-2" style="max-width: 300px; min-width: 300px; min-height: 300px;">
                <%if(category.recipes.length){%>
                    <img src="<%=category.recipes[randomRecipe].imageUrl%>" class="card-img" alt="sample-recipe-image" style="max-width: 300px;">
                <%}%>
                <div class="card-img-overlay d-flex flex-column justify-content-center">
                    <h1 class="card-title bg-dark text-center"><%=category.name%></h1>
                </div>
            </div>
        </a>
        
    <% }) %>

    </div>
<%}%>