<h1>Show 1 Saved Recipe</h1>

<%if(recipeWasCreated && recipeWasCreated === 'false') {%>
    <p>You already had this recipe saved! But we've added it to any new categories you might have included this time.</p>
<%}%>

<h2><%= recipe.title %> </h2>

<% if(recipe.ingredients) {%>
    <% let ingredients = JSON.parse(recipe.ingredients) %>
    <p><%= ingredients[0].text %></p>
<%}%>


<% if(categories.length) {%>
    <p> Categories:</p>
    <ul class="list-group list-group-horizontal">
    <%categories.forEach(category => {%>
       <li class="list-group-item"> <%=category.name%> </li>
    <%})%>
    </ul>
<%}%>
